<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" *ngFor="let titulo of titulos">
                    {{titulo}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fila of filas" (dblclick)="onRowClick(fila)">
                <td *ngFor="let key of objectKeys(fila)">
                    <div [innerHTML]="fila[key] | formato"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>